## Gradle
.gradle/
build/
/local.properties

## IntelliJ
.idea/
out/
*.iml
*.ipr
*.iws

## Eclipse / VS Code
.classpath
.project
.settings/
bin/
.vscode/

## Java
*.class
hs_err_pid*

## OS
.DS_Store
Thumbs.db
